<tabset>
    <tab heading='Gráfico'>
        <accordion [closeOthers]="true">
            <accordion-group *ngFor="let grp of Grupos">
                <div accordion-heading (click)="grp.isOpen = !grp.isOpen">
                    <img [src]="'./public/images/' + grp.icono" height="50" class="img-rounded">
                    <span>{{grp.nombre}}</span>
                    <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': grp.isOpen, 'glyphicon-chevron-right': !grp.isOpen}"></i>
                </div>
                <div>
                    <div *ngFor="let gr of grp.charts" (click)="GraphSelect = gr" class="list-group-item pointer{{(GraphSelect == gr) ? ' select' : ''}}">
                        <img [src]="'./public/images/' + gr.className + '.png'" height="50" class="img-rounded">
                        <span>{{gr.nombre}}</span>
                    </div>
                </div>

            </accordion-group>
        </accordion>

    </tab>
    <tab heading='Período'>

    </tab>
    <tab heading='Datos'>
        <div class="container-fluid">
            <div class="row form-group" *ngIf="GraphSelect">
                <div *ngFor="let col of GraphSelect.columns" class="col-xs-12 col-sm-6 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{col.descripcion}}
                            {{col.opcional ? '(opcional)' : ''}}
                            <span *ngIf="col.esRepetible" class="glyphicon glyphicon-plus pull-right pointer" (click)="AgregarSerie(col)"
                            aria-hidden="true" data-toggle="tooltip" title="Agrega un Serie"></span>
                        </div>
                        <div class="panel-body">
                            <campos-select [columna]="col"></campos-select>
                        </div>
                    </div>
                </div>
                <div *ngFor="let col of Series" class="col-xs-12 col-sm-6 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{col.descripcion}}</div>
                        <div class="panel-body">
                            <campos-select [columna]="col"></campos-select>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </tab>
    <tab heading='Diseño'>Diseño</tab>
    <tab heading='Ver'>Ver</tab>
</tabset>